:root {
  --font-family: "Montserrat", sans-serif;
  --background: #FAFAFA;
  --primary-text-color: #252B42;
  --secondary-text-color: #737373;
  --white-color: #FFFFFF;
  --primary-accent-color: #FF7B47;
  --secondary-accent-color: #0D5C63;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--background);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

._container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

._ibj {
  position: relative;
}

._ibj img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.header-block > *:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.header-block__subtitle {
  width: 511px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.main {
  flex: 1 1 auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.header__menu {
  flex-grow: 1;
  margin-left: 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin-left: 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin-left: 20px;
  }
}
._menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
.hero {
  position: relative;
}

.hero__wrapper {
  max-width: 409px;
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
}
.hero__wrapper > *:not(:last-child) {
  margin-bottom: 35px;
}

@media (max-width: 992px) {
  .hero__wrapper {
    padding-top: 120px;
  }
}
.hero__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.3793103448;
  letter-spacing: 0.2px;
}

@media (max-width: 476px) {
  .hero__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.9047619048;
    letter-spacing: 0.2px;
  }
}
.hero__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

@media (max-width: 479px) {
  .hero__text {
    color: #4d4a4a;
  }
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

@media (max-width: 479px) {
  .hero__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .hero__button:not(:last-child) {
    margin-right: 10px;
  }
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px 36px;
  min-height: 48px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: center;
  border-radius: 37px;
}

.hero__button_orange {
  color: var(--white-color);
  background-color: var(--primary-accent-color);
}

.hero__button_border {
  color: var(--secondary-accent-color);
  background-color: transparent;
  border: 1px solid var(--secondary-accent-color);
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .hero__image img {
    object-position: right;
  }
}
@media (max-width: 992px) {
  .hero__image {
    opacity: 0.5;
  }
}
.main__services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 30px;
}

.services__item {
  height: 100%;
  flex-basis: calc((100% - 60px) / 3);
}

@media (max-width: 940px) {
  .services__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .item-services_theme_green {
    flex-grow: 1;
  }
}
@media (max-width: 720px) {
  .services__item {
    flex-grow: 1;
  }
  .services__list {
    gap: 15px;
  }
}
.item-services {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: var(--white-color);
}

.item-services_theme_green {
  background-color: var(--secondary-accent-color);
}

.item-services__title_white {
  color: var(--white-color);
}

.item-services__wrapper .item-services__desc_white {
  color: var(--white-color);
}

.item-services__wrapper {
  height: 100%;
  padding: 35px 40px;
}
.item-services__wrapper > *:not(:last-child) {
  margin-bottom: 10px;
}

.item-services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
}

.item-services__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.advantages {
  padding: 80px 0;
}

.advantages__header {
  margin-bottom: 50px;
}

.header-block > *:not(:last-child) {
  margin-bottom: 10px;
}

.header-block__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.header-block__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 30px;
}

.advantages__item {
  text-align: center;
  padding: 30px;
  flex-basis: calc((100% - 90px) / 4);
  background-color: var(--white-color);
}
.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1040px) {
  .advantages__list {
    gap: 20px;
  }
  .advantages__item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media (max-width: 546px) {
  .advantages__list {
    gap: 10px;
  }
  .advantages__item {
    flex-basis: content;
    flex-grow: 1;
  }
}
.advantages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
}

.about {
  padding-top: 100px;
  padding-bottom: 136px;
  background-color: var(--white-color);
}

.about__header {
  padding-bottom: 100px;
}

.about__box {
  display: flex;
}

.about__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}

.about__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about__wrapper {
  padding-left: 120px;
  flex: 1 1 auto;
}
.about__wrapper > *:not(:last-child) {
  margin-bottom: 30px;
}

.about__desc {
  padding-top: 20px;
  padding-bottom: 20px;
}
.about__desc > *:not(:last-child) {
  margin-bottom: 10px;
}

.desc-about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.desc-about__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.about__list > *:not(:last-child) {
  margin-bottom: 30px;
}

.list-about__item {
  display: flex;
  align-items: flex-start;
}

.list-about__icon-wrapper {
  margin-right: 20px;
}

.list-about__desc > *:not(:last-child) {
  margin-bottom: 5px;
}

.list-about__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.list-about__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.practice {
  padding-top: 125px;
  padding-bottom: 80px;
}

.practice__header {
  margin-bottom: 45px;
}

.practice__list {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

.item-practice__wrapper {
  padding: 30px;
  flex-grow: 1;
}

.item-practice {
  min-height: 341px;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  background-color: var(--white-color);
}

.item-practice__link {
  display: block;
  margin-bottom: 15px;
}
.item-practice__link:hover, .item-practice__link:focus {
  text-decoration: underline;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

.item-practice__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714286;
  letter-spacing: 0.2px;
  color: var(--secondary-text-color);
}

.item-practice__image {
  display: flex;
  padding-bottom: 60%;
}

.clients__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.clients__link {
  display: block;
}

.clients__icon {
  fill: var(--secondary-text-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--primary-accent-color);
}

.subscribe {
  position: relative;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;
  background-color: #252B42;
}

.subscribe__container {
  position: relative;
  z-index: 2;
  padding: 20px 32px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #17213C;
  border-radius: 2px;
}

.form-subscribe__text {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3333333333;
  letter-spacing: 0.1px;
  color: var(--white-color);
}

.form-subscribe__wrapper {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.form-subscribe__input {
  flex: 1 1 auto;
  padding-left: 20px;
  min-height: 58px;
  outline: none;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
}

.form-subscribe__input:focus {
  color: var(--primary-text-color);
}

.form-subscribe__btn {
  padding: 14px 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: var(--white-color);
  background: var(--primary-accent-color);
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
}

.get {
  padding: 80px 0 148px 0;
}

.get__header {
  margin-bottom: 110px;
}

.get__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.list-get__item {
  padding: 50px 0;
  background-color: var(--white-color);
  flex-basis: calc((100% - 30px) / 3);
}

.list-get__item:focus,
.list-get__item:hover {
  transform: scaleX(1.15) scaleY(1.25);
  background-color: var(--primary-text-color);
}

.list-get__link {
  display: block;
}
.list-get__link > *:not(:last-child) {
  margin-bottom: 15px;
}

.list-get__icon {
  width: 100%;
  fill: var(--secondary-accent-color);
}
.list-get__item:focus .list-get__icon {
  fill: var(--white-color);
}
.list-get__item:hover .list-get__icon {
  fill: var(--white-color);
}

.list-get__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  text-align: center;
}
.list-get__item:focus .list-get__email {
  color: var(--white-color);
}
.list-get__item:hover .list-get__email {
  color: var(--white-color);
}

.list-get__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
}
.list-get__item:focus .list-get__title {
  color: var(--white-color);
}
.list-get__item:hover .list-get__title {
  color: var(--white-color);
}

.list-get__btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.2px;
  color: var(--primary-accent-color);
  background-color: transparent;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.list-get__item:focus .list-get__btn {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  cursor: pointer;
}
.list-get__item:hover .list-get__btn {
  color: var(--white-color);
  border: 1px solid var(--white-color);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */