h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}
body {
    background-color: var(--background);
    color: var(--primary-text-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}