:root {
    --font-family: 'Montserrat', sans-serif;

    --background: #FAFAFA;

    --primary-text-color: #252B42;
    --secondary-text-color: #737373;

    --white-color: #FFFFFF;
    --primary-accent-color: #FF7B47;
    --secondary-accent-color: #0D5C63;
}